# Введение в Python 3, занятие 1
#### Функция `print`, базовые типы данных и операции над ними, ввод и вывод

## Пишем "Hello, world!"

In [1]:
print("Hello, world!") # функция print печатает на экран
print('Hello, world!') # для задания строки можно использоваь как одинарные,
                       # так и двойные кавычки

Hello, world!
Hello, world!

In [2]:
'It\'s okay not to know Python' # одинарную кавычку (') внутри строки
                                # из одинарных кавычек можно "заэкранировать" --
                                # поставить перед ней \

"It's okay not to know Python"

#### Можно печатать русские буквы:

In [3]:
print("Привет, мир!")

Привет, мир!

#### Можно напечатать сразу несколько строк:

In [4]:
print("Hello", ",", "world", "!")

Hello , world !

#### Можно напечатать несколько строк через разделитель:

In [5]:
print('Hello', ',', "world", "!", sep="***") # аргумент sep отвечает за разделитель

Hello***,***world***!

#### В качестве разделителя можно передать пустую строчку:

In [6]:
print('Hello', ',', "world", "!", sep="")

Hello,world!

#### Чтобы печатать каждое следующее слово на новой строке, передаём `sep='\n'`:

In [7]:
print('Hello', ',', "world", "!", sep="\n")

Hello
,
world
!

## Типы данных

### Целые числа (`int`) и числа с плавающей точкой (`float`)

#### Целые числа и числа с плавающей точкой можно печатать с помощью `print`:

In [8]:
print(5, 7, 57, 0.57)

5 7 57 0.57

#### Можно применять арифметические операции:

In [9]:
print(
    5 + 7,
    5 - 7,
    0.5 + 0.7
)

12 -2 1.2

Умножение:

In [10]:
print(5 * 7, 0.5 * 7)

35 3.5

Деление:

In [11]:
# при делении мы всегда в качестве результата получаем float
print(5 / 7)
print(5 / 5)
print(3 / 0.2)

0.7142857142857143
1.0
15.0

Целочисленное деление (деление с остатком):

In [12]:
print(5 // 7,
      5 // 5,
      7 // 5,
      57 // 5)

0 1 1 11

Можно поделить с остатком на нецелое число:

In [13]:
print(5 // 0.7)

7.0

Отдельно взятие остатка:

In [14]:
print(
    7 % 5,
    5 % 7,
    5 % 0.7 # будет небольшая погрешность из-за
            # неточности арифметики чисел с плавающей точкой
)

2 5 0.10000000000000031

Возведение в степень:

In [15]:
print(2 ** 5)
print(2 ** 3 ** 2) # 2^(3^2)
print(9 ** 0.5)
print(2 ** -1)

32
512
3.0
0.5

Можно писать сколь угодно длинные математические выражения:

In [16]:
print((1 + 2 * (3 + 5) ** 2) // 57)

2

Функции `min`, `max`, `abs`

In [17]:
print(min(5, 7), max(5, 7), abs(-57), abs(57))

5 7 57 57

#### Функции `int()` и `float()`

Функция `int()` переводит значение в тип `int`:

In [18]:
print(int(5 / 7)) # int() округляет вниз числа с плавающей точкой
print(int(5 / 5))

0
1

In [19]:
int('1234') # int() можно вызывать от строчки, в которой все символы -- цифры

1234

Аналогично, функция `float()` переводит значение в тип `float`:

In [20]:
print(
    float(57),
    float('57'),
    float('0.57')
)

57.0 57.0 0.57

### Строки (`str`)

Строки можно задавать одинарными или двойными кавычками:

In [21]:
s = "abc5757"
t = '12345'
# тут мы завели переменные s и t и записали в них соответствующие строки

#### Индексация

Символ строки по позиции (индексу):

In [22]:
s[1] # строки и вообще все контейнеры в Python имеют 0-индексацию

'b'

In [23]:
s[0]

'a'

Можно использовать отрицательные индексы, тогда позиция будет отсчитываться с конца строки:

In [24]:
t[-1]

'5'

In [25]:
t[-2]

'4'

####  Срезы

Можно взять подстроку с i-го по j-й элемент, это называется "срез"

In [26]:
print(s)
print(s[1:4]) # левая граница входит в срез, правая -- не входит

abc5757
bc5

In [27]:
s[3:1] # срез равен пустой строке, так как нет индексов i, таких что 3 <= i < 1

''

Третьим параметром среза можно указать шаг:

In [28]:
print(s)
print(s[3:1:-1]) # подстрока выписывается справа налево,
                 # 3-й символ входит, 1-й -- не входит

abc5757
5c

In [29]:
print(s)
print(s[1:5:2]) # прошли по подстроке s[1:5] с шагом 2: взяли 1-й и 3-й символы,
                # 5-й не взяли, так как правая граница не входит в срез

abc5757
b5

С помощью срезов удобно брать префиксы и суффиксы строки:

In [30]:
print(s)
print(s[:5]) # от 0-го до 4-го символа включительно
print(s[5:]) # от 5-го символа до конца строки

abc5757
abc57
57

In [31]:
s[::-1] # разворот строки

'7575cba'

Строки можно "складывать":

In [32]:
print(s)
print(t)
print(s + t) # это называется "конкатенацией" строк s и t

abc5757
12345
abc575712345

Умножение строки на число:

In [33]:
print(s)
print(s * 3) # умножение на n -- конкатенация с самой собой n раз

abc5757
abc5757abc5757abc5757

Строки -- неизменяемый тип данных, то есть нельзя поменять символ строки по заданному индексу:

In [34]:
s[3] = "*"

TypeError: 'str' object does not support item assignment

Если нужна строка, равная данной строке с одним изменённым символом, можно воспользоваться срезами и конкатенацией:

In [35]:
s[:3] + '*' + s[4:]

'abc*757'

**Полезные методы строк (https://docs.python.org/3/library/string.html):**

In [36]:
print(s)

print(s.find('5')) # индекс первого вхождения
print(s.find('#')) # если заданного символа нет в строке, результат find() равен -1
print(s.count('5')) # сколько раз заданный символ встречается в строке

abc5757
3
-1
2

### Функция `type()`

Функция `type()` позволяет узнать тип объекта в Python:

In [37]:
print(type(1))
print(type(1.0))
print(type('1'))

<class 'int'>
<class 'float'>
<class 'str'>

### Ввод и вывод данных

Выводим данные на экран с помощью `print`:

In [38]:
answer = 57
print('And the answer is:', answer)

And the answer is: 57

Ввод данных осуществляем с помощью функции `input()`. Эта функция просто считывает строку со стандартного потока ввода.

In [39]:
s = input()
print('the given string is:', s)

abacaba
the given string is: abacaba

Чтобы считать одно число в строке, вызываем `int()` от строки, которую считали с помощью `input()`:

In [40]:
s = input()
print('the given int plus one is:', int(s) + 1)

57
the given int plus one is: 58

Можно сразу вызвать `int(input())`:

In [41]:
x = int(input()) # в переменную x будет записано значение типа int
print('x =', x)
print('x + 1 =', x + 1)

57
x = 57
x + 1 = 58

Считываем два числа из одной строки:

In [42]:
a, b = map(int, input().split()) # ниже разберёмся, что делает эта магия

print(a + b)

5 7
12

1. C помощью `input()` считали строку '5 7'.
2. У строки `'5 7'` вызвали метод `.split()`, который разбивает строку на подстроки по пробелам (при этом удаляя сами пробелы) и возвращает список из получившихся подстрок. То есть, результатом `'5 7'.split()` будет последовательность из строк `'5'` и `'7'`.
3. `map(f, sequence)` применяет функцию `f` поэлементно к последовательности `sequence` и возвращает последовательность из результатов. То есть, `map(int, ['5', '7'])` применяет последовательно функцию `int()` к строкам `'5'` и `'7'` и возвращает последовательность результатов, то есть `[5, 7]`.
4. `a, b = [последовательность из двух элементов]` записывает первый элемент последовательности в переменную `a`, второй элемент последовательности -- в переменную `b`. Если длина последовательности не равна числу переменных слева, будет ошибка. Отдельный пример такого синтаксиса ниже:

In [43]:
a, b = 5, 7

print('a:', a)
print('b:', b)

a: 5
b: 7

In [44]:
a, b, c, d, e = 1, 3, 5, 7, 9
print(a, b, c, d, e)

1 3 5 7 9

In [45]:
a, b = 1 # ошибка

TypeError: cannot unpack non-iterable int object

In [46]:
a, b = 1, 2, 3 # тоже ошибка

ValueError: too many values to unpack (expected 2)

Одна из базовых идиом языка Python: меняем местами значения двух переменных одной строчкой кода:

In [47]:
a, b = 5, 7
print('a:', a)
print('b:', b)

a, b = b, a # в этой строке меняем местами значения a и b 

print('a:', a)
print('b:', b)

a: 5
b: 7
a: 7
b: 5

В других языках (например, C++) на это потребовалось бы как минимум три строки кода:

In [48]:
tmp = a
a = b
b = tmp